{% extends 'base.html' %}

{% from 'bootstrap/form.html' import render_field %}

{% block title %}登录{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h3>登录</h3>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <form class="col-6" method="post">
                {{ form.csrf_token() }}
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
                {{ render_field(form.remember) }}
                {{ render_field(form.submit, class="btn btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}