[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bootstrap-flask = "*"
flask-migrate = "*"
python-dotenv = "*"
faker = "*"
flask-sqlalchemy = "*"
flask-moment = "*"

[dev-packages]

[requires]
python_version = "3.6"
