{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block title %}编辑分类{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>编辑分类</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                {{ form.csrf_token() }}
                {{ render_field(form.name) }}
                {{ render_field(form.submit, class='btn btn-primary') }}
            </form>
        </div>
    </div>
{% endblock %}
